---
import Heading2 from "@components/headings/Heading2.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/common/Link.astro";
import SingleAnswerQuiz from "@components/client/SingleAnswerQuiz.svelte";
---

<Layout title="Kurssit">
  <Heading1>Kurssit</Heading1>
  <p>
    Oletko kiinnostunut luomaan dynaamisia ja houkuttelevia verkkosivustoja tai
    -sovelluksia? Tämä kurssi tarjoaa sinulle vankat perusteet web-kehityksestä
    ja johdannon nykyaikaisiin teknologioihin.
  </p>
  <Heading2>Aloittelijaystävälliset kurssit</Heading2>
  <ul>
    <li><Link href="/kurssit/101-web">Web ohjelmointi 101</Link></li>
    <li><Link href="/kurssit/101-git">Git-versiohallinta</Link></li>
  </ul>
  <Heading2>Haluatko lisää haastetta</Heading2>
  <p>
    Odota vähän. Ehkä sitä joku päivä jaksaa kirjoittaa vähän haastavempaa
    materiaalia.
  </p>
  <SingleAnswerQuiz client:visible />
</Layout>
