---
const { title, chapters } = Astro.props;
const path = Astro.url.pathname;
let currentChapterIndex = chapters.findIndex((c) => path.includes(c.slug));
---

<slot />
<div class="flex justify-between my-8">
  {
    currentChapterIndex > 0 && (
      <div>
        <p>previous</p>
        <a href={`/kurssit/${title}/${chapters[currentChapterIndex - 1].slug}`}>
          {chapters[currentChapterIndex - 1].data.title}
        </a>
      </div>
    )
  }
  {
    currentChapterIndex < chapters.length - 1 && (
      <div>
        <p>next</p>
        <a href={`/kurssit/${title}/${chapters[currentChapterIndex + 1].slug}`}>
          {chapters[currentChapterIndex + 1].data.title}
        </a>
      </div>
    )
  }
</div>
