---
import NavigationTogglable from "./client/NavigationTogglable.svelte";
import TopNavItem from "./client/TopNavItem.svelte";
const path = Astro.url.pathname;
const params = path.split("/");

const navItems = [
  {
    href: "",
    label: "KOTI",
  },
  {
    href: "kurssit",
    label: "KURSSIT",
  },
  {
    href: "blogi",
    label: "BLOGI",
  },
  {
    href: "meista",
    label: "MEISTÄ",
  },
];
---

<nav class="fixed shadow top-0 w-full bg-white border-gray-200 z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex flex-1 items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >koodi.</span
      >
    </a>
    <NavigationTogglable client:load>
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white md"
      >
        {
          navItems.map(({ href, label }) => (
            <TopNavItem {href} {label} current={params[1] === href} />
          ))
        }
      </ul>
    </NavigationTogglable>
  </div>
</nav>
<span class="block w-full h-20"></span>
