---
import Layout from "@layouts/Layout.astro";
import Heading1 from "@components/headings/Heading1.astro";
import { getCollection } from "astro:content";
import Link from "@components/common/Link.astro";

const posts = await getCollection("101-web");
---

<Layout title="Tervetuloa 101 Web kurssille!">
  <Heading1>Web Perusteet</Heading1>
  <ul>
    {
      posts.map((p) => (
        <li>
          <Link href={`/kurssit/101-web/${p.slug}`}>{p.data.title}</Link>
        </li>
      ))
    }
  </ul>
</Layout>
