---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "koodi", description = "Ei pöllömpi kurssi" } = Astro.props;
---

<!doctype html>
<html lang="fi">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <Navigation />
    <main class={"max-w-screen-xl mx-auto min-h-screen"}>
      <slot />
    </main>

    <footer class="w-full bottom-0 p-4 bg-slate-900 text-slate-100 text-center">
      <p>&copy; 2023 koodi. Tehty ❤️:lla.</p>
    </footer>
  </body>
</html>
